[Unit]
Description=MFA
After=syslog.target network.target

[Service]
Type=forking

User=ivuser
Group=ivuser

Environment=JAVA_HOME={{ JAVA_HOME }}
Environment='JAVA_OPTS=-Djava.awt.headless=true'
Environment=SIOS_HOME=/home/ivuser/microservices


ExecStart=/home/ivuser/microservices/bin/mfa.sh start
ExecStop=/home/ivuser/microservices/bin/mfa.sh stop
Restart=always

[Install]
WantedBy=multi-user.target
